.travel-main{
    border:1px solid black;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}
.travel-main img{
    width: 100%;
}
.travel-main hr{
  width: 230px;
}
.travel-main h5,.travel-main p{
    margin-left: 20px;
}
.movie_head i{
    float: right;
}